<div class="hustlers-wrapper">
    <!-- Main Content -->
    <section class="hero">
      <h1>{{ section.settings.heading }}</h1>
      <p class="subheading">{{  section.settings.subheading }}</p>
      <p class="description">{{section.settings.description}}</p>
      <a href="/pages/about" class="learn-more-button">Learn More 
        <span class="hustlers-diagonalArrow">
          <svg class="navArrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M5.228 14.772c-.304-.304-.304-.797 0-1.101l7.113-7.114h-3.993c-.43 0-.779-.348-.779-.778 0-.43.349-.779.779-.779h5.873c.207 0 .405.082.55.228.147.146.229.344.229.55v5.874c0 .43-.349.779-.779.779-.43 0-.779-.35-.779-.78v-3.992l-7.113 7.113c-.304.304-.797.304-1.1 0Z"/>
          </svg>
        </span>
      </a>
    </section>
  
    <!-- Listings -->
    {% comment %} #TODO: Move to it's own liquid component later {% endcomment %}
    <section class="listings">
      <div class="listing-item">
        <span class="number">{{ section.settings.listing-num-1 }}</span>
        <h2 class="title">{{ section.settings.listing-num-1-title }}</h2>
        <p>{{ section.settings.listing-num-1-description }}</p>
      </div>
      <div class="listing-item">
      <span class="number">{{ section.settings.listing-num-2 }}</span>
        <h2 class="title">{{ section.settings.listing-num-2-title }}</h2>
        <p>{{ section.settings.listing-num-2-description }}</p>
      </div>
      <div class="listing-item highlighted">
      <span class="number">{{ section.settings.listing-num-3 }}</span>
        <h2 class="title">{{ section.settings.listing-num-3-title }}</h2>
        <p>{{ section.settings.listing-num-3-description }}</p>
      </div>
    </section>
  </div>

  {% schema %}
{
    "name": "hustlers-homepage-banner",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Welcome to My Custom Section"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "7 guests · 3 bedrooms · 6 beds · 2 bathrooms"
      },
      {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "This is a custom description for the section."
      },
      {
          "type": "text",
          "id": "listing-num-1",
          "label": "Listing-num-1",
          "default": "01"
      },
      {
          "type": "text",
          "id": "listing-num-1-title",
          "label": "Listing-num-1-title",
          "default": "Listing"
      },
      {
          "type": "textarea",
          "id": "listing-num-1-description",
          "label": "Listing-num-1-description",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum vulputate lacinia."
      },
      {
          "type": "text",
          "id": "listing-num-2",
          "label": "Listing-num-2",
          "default": "02"
      },
      {
          "type": "text",
          "id": "listing-num-2-title",
          "label": "Listing-num-2-title",
          "default": "Listing"
      },
      {
          "type": "textarea",
          "id": "listing-num-2-description",
          "label": "Listing-num-2-description",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum vulputate lacinia."
      },
      {
          "type": "text",
          "id": "listing-num-3",
          "label": "Listing-num-3",
          "default": "03"
      },
      {
          "type": "text",
          "id": "listing-num-3-title",
          "label": "Listing-num-3-title",
          "default": "Listing"
      },
      {
          "type": "textarea",
          "id": "listing-num-3-description",
          "label": "Listing-num-3-description",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum vulputate lacinia."
      },
    ],
    "presets": [
        {
            "name": "hustlersAvenue-hompage-banner"
        }
    ]
}
{% endschema %}